<%- include("partials/header.ejs") %>

<div class="mini-container">
  <a href="/secure-payment">پرداخت امن</a>
  <a href="/NFC-payment">پرداخت NFC</a>
  <a href="/installment-payment">خرید قسطی </a>
  <a href="/bank-meeting">جلسه بانکی</a>
  <a href="/contract">قرارداد</a>
  <a href="/crypto-currency">ارز دیجیتال</a>
</div>

<%- include("partials/footer.ejs") %>
