<%- include("partials/header.ejs") %>

    <div class="mini-container">
      <a href="/secure-payment">  
        <button href="/secure-payment">پرداخت امن</button>
      </a>
      <a href="/NFC-payment"><button>پرداخت NFC</button></a>
      <a href="/installment-payment"><button>خرید قسطی</button> </a>
          
    </div>
    <div class="mini-container">
      <a href="/bank-meeting"><button>جلسه بانکی</button></a>
      <a href="/contract"><button>قرارداد</button></a>
      <a href="/crypto-currency"><button>ارز دیجیتال</button></a>
      
    </div>

  </body>
</html>
