<%- include("partials/header.ejs") %>

<div class="box">
  <div class="item">
    <h2>اطلاعات حساب کاربری</h2>
    <p>آدرس، شماره همراه، ایمیل</p>
  </div>
  <div class="item">
    <h2>کیف پول</h2>
    <p>موجودی، ویرایش کارت، تراکنش‌ها</p>
  </div>
  <div class="item">
    <h2>رمز عبور</h2>
    <p>تغییر رمز عبور</p>
  </div>
  <div class="item">
    <h2>اعلان‌ها</h2>
    <p>دریافت اعلان، تنظیمات اعلان‌ها</p>
  </div>
  <div class="item">
    <h2>پشتیبانی</h2>
    <p></p>
  </div>
  <div class="item">
    <h2>تماس با ما</h2>
    <p></p>
  </div>
</div>
