<%- include("partials/header.ejs") %>

<a href="/wallet/account-info" class="item">
  <h2>اطلاعات حساب کاربری</h2>
  <p>آدرس، شماره همراه، ایمیل</p>
</a>
<a href="/wallet/account-info" class="item">
  <h2>کیف پول</h2>
  <p>موجودی، ویرایش کارت، تراکنش‌ها</p>
</a>
<a href="/wallet/account-info" class="item">
  <h2>رمز عبور</h2>
  <p>تغییر رمز عبور</p>
</a>
<a href="/wallet/account-info" class="item">
  <h2>اعلان‌ها</h2>
  <p>دریافت اعلان، تنظیمات اعلان‌ها</p>
</a>
<a href="/wallet/account-info" class="item">
  <h2>پشتیبانی</h2>
  <p style="color: transparent">توضیحات</p>
</a>
<a href="/wallet/account-info" class="item">
  <h2>تماس با ما</h2>
  <p style="color: transparent">توضیحات</p>
</a>

<%- include("partials/footer.ejs") %>
