<%- include("partials/header.ejs") %>

<div class="form-container" style="direction: rtl;">
<form >
    <input type="text" id="product-name" name="product-name" placeholder="نام کالا">

    <input type="number" id="price" name="price" placeholder="قیمت">

    <input type="text" id="wallet" name="wallet" placeholder="شماره کارت/آیدی کیف پول">

    <input type="text" id="details" name="details" placeholder="مشخصات کالا">

    <input type="file" id="photo" name="photo" placeholder="بارگذاری عکس از کالا">

    <textarea id="contract" name="contract" rows="3" placeholder="توصیف قرارداد"></textarea>

    <input type="text" id="fullname" name="fullname" placeholder="نام و نام خانوادگی">

    <input type="text" id="phone" name="phone" placeholder="شماره تماس">

    <input type="text" id="postal-code" name="postal-code" placeholder="کدپستی">

    <input type="text" id="province" name="province" placeholder="شهر/استان">

    <textarea id="address" name="address" rows="3" placeholder="آدرس"></textarea>

    <button type="submit" class="submit">پرداخت</button>
  </form>
</div>

</body>
</html>