<%- include("partials/header.ejs") %>

<div class="mini-container" style="margin-top: 0">
  <img src="/images/bank-card.png" alt="bank-card-img" class="bank-card-img" />
</div>

<div class="mini-container" style="margin-top: 0">
  <button>موجودی</button>
</div>

<div class="mini-container">
  <button>افزایش اعتبار</button>
  <button>انتقال به کارت</button>
</div>

<div class="mini-container">
  <div style="font-size: 1.5rem; font-weight: bold">Latest Transactions</div>
</div>
<div class="mini-container" style="margin-top: 20px">
  <div class="transaction-list">
    <div>></div>
    <hr />
    <div>></div>
    <hr />
    <div>></div>
    <hr />
  </div>
</div>
</div>
</body>
</html>
