<%- include("partials/header.ejs") %>

<img src="/images/bank-card.png" alt="bank-card-img" class="bank-card-img" />

<div class="wallet-buttons" style="margin-top: 0">
  <button style="grid-column: 1/3">موجودی</button>
  <button>افزایش اعتبار</button>
  <button>انتقال به کارت</button>
</div>

<div>
  <div
    style="
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 1vh;
      padding: 0 10vw;
    "
  >
    Latest Transactions
  </div>

  <div style="margin-top: 15px; padding: 0 10vw">
    <div class="transaction-list">
      <div>></div>
      <hr />
      <div>></div>
      <hr />
      <div>></div>
      <hr />
    </div>
  </div>

  <%- include("partials/footer.ejs") %>
</div>
