:root {
}

body {
  background: linear-gradient(to bottom, #2b6cb0, #6ea8dc, #e6f0ff);
  background-repeat: no-repeat;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  padding: 5vh 20vw 0 20vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.login {
  width: 150px;
  border-radius: 40px;
  border: 5px solid #093028;
  color: #093028;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  background-color: transparent;
  align-self: center;
  padding: 5px;
}

.login:hover {
  color: #465855;
  text-decoration: underline;
  cursor: pointer;
  transform: scale(1.05);
}

.login-container > a > img {
  width: 4vw;
}

.nav {
  margin-top: 3vh;
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  border-radius: 40px;
  border: 5px solid #132a25;
  padding: 20px 50px;
}

.nav > a {
  color: #ffffffa2;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav > a:hover {
  color: #465855;
  text-decoration: underline;
}

.mini-container {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 3vh;
  column-gap: 5vw;
  row-gap: 5vh;
  margin: 5vh 0;
}

.mini-container > a {
  border-radius: 40px;
  border: 5px solid #00000075;
  font-weight: bold;
  font-size: 1.2rem;
  width: 10vw;
  padding: 3rem 0;
  font-family: "Lalezar";
  text-align: center;
  text-decoration: none;
  color: #132a2595;
}

.mini-container > a:hover {
  cursor: pointer;
  text-decoration: underline;
  transform: scale(1.05);
  border: 5px solid #000;
  color: #132a25;
}

.footer {
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-image {
  width: 10vw;
}

.form-container {
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  row-gap: 20px;
  padding-top: 5vh;
  direction: rtl;
}

input {
  width: 15vw;
  border: 3px solid black;
  border-radius: 5px;
  height: 3vh;
  margin-top: 5px;
  font-size: 1.2rem;
  font-family: "Lalezar";
  direction: rtl;
  padding: 10px;
}

textarea {
  width: 15vw;
  border: 3px solid black;
  border-radius: 5px;
  height: 8vh;
  margin-top: 5px;
  font-size: 1.2rem;
  font-family: "Lalezar";
  direction: rtl;
  padding: 10px;
}

.submit {
  width: 10vw;
  height: 5vh;
  align-self: center;
  border-radius: 25px;
  border: 4px solid #0000008c;
  color: #000000;
  /* font-weight: bold; */
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Lalezar";
  margin-left: 5vw;
}

.black {
  background-color: #2e2f2ee8;
}
.black::placeholder {
  color: #ebebeb;
}

.bank-card-img {
  align-self: center;
  width: 30vw;
}

.wallet-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  row-gap: 20px;
}

.wallet-buttons > button {
  width: 15vw;
  align-self: center;
  border-radius: 40px;
  border: 5px solid #093028;
  color: #093028;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  background-color: transparent;
  align-self: center;
  padding: 1vh 0;
}

.item {
  align-self: center;
  direction: rtl;
  background-color: #00000028;
  border-radius: 20px;
  color: var(--bgwhite);
  direction: rtl;
  padding: 15px;
  width: 30vw;
  text-decoration: none;
}

.notification {
  margin: 5vh 0;
  direction: rtl;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #00000028;
  border-radius: 20px;
  padding: 20px 5vw;
}

@media (max-width: 1100px) {
  .mini-container > a {
    width: 20vw;
    border: 4px solid #00000075;
    padding: 2rem 0;
  }

  .nav {
    border: 4px solid #093028;
  }

  .login {
    font-size: 0.9rem;
    width: 15vw;
    border: 3px solid #093028;
  }

  .footer {
    margin-top: 3vh;
  }

  .footer-image {
    width: 15vw;
  }

  .wallet-buttons > button {
    width: 25vw;
  }
}

@media (max-width: 750px) {
  .nav {
    width: 80vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border: 3px solid #093028;
  }
  .nav > a {
    font-size: 1.1rem;
  }

  .container {
    padding: 4vh 5vw 0 5vw;
  }

  .logo {
    font-size: 0.8rem;
  }

  .login {
    font-size: 0.9rem;
    width: 25vw;
    border: 2px solid #093028;
  }
  .login-container > a > img {
    width: 10vw;
  }

  .mini-container {
    grid-template-columns: 1fr 1fr;
    margin-top: 2vh;
  }
  .mini-container > a {
    width: 30vw;
    border: 3px solid #00000075;
    padding: 1.5rem 0;
  }

  .footer {
    margin-top: 3vh;
  }

  .footer-image {
    width: 20vw;
  }

  .wallet-buttons > button {
    width: 30vw;
  }

  .item {
    width: 70vw;
  }
}
